@font-face {
	font-family: "flaticon_bexco-gym";
	src: url("../fonts/pbmit-bexco-gym-icon/flaticon_bexco-gym.ttf?4332b35fc83dee3d8a1a798509fb91e0") format("truetype"),
url("../fonts/pbmit-bexco-gym-icon/flaticon_bexco-gym.woff?4332b35fc83dee3d8a1a798509fb91e0") format("woff"),
url("../fonts/pbmit-bexco-gym-icon/flaticon_bexco-gym.woff2?4332b35fc83dee3d8a1a798509fb91e0") format("woff2"),
url("../fonts/pbmit-bexco-gym-icon/flaticon_bexco-gym.eot?4332b35fc83dee3d8a1a798509fb91e0#iefix") format("embedded-opentype"),
url("../fonts/pbmit-bexco-gym-icon/flaticon_bexco-gym.svg?4332b35fc83dee3d8a1a798509fb91e0#flaticon_bexco-gym") format("svg");
}
i[class^="flaticon-"]:before, i[class*=" pbmit-bexco-gym-icon-"]:before {
	font-family: flaticon_bexco-gym !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.pbmit-bexco-gym-icon-running-shoes:before {
	content: "\f101";
}
.pbmit-bexco-gym-icon-dumbbell:before {
	content: "\f102";
}
.pbmit-bexco-gym-icon-weight-loss:before {
	content: "\f103";
}
.pbmit-bexco-gym-icon-weight:before {
	content: "\f104";
}
.pbmit-bexco-gym-icon-sportsman:before {
	content: "\f105";
}
.pbmit-bexco-gym-icon-muscle:before {
	content: "\f106";
}
.pbmit-bexco-gym-icon-diet-food:before {
	content: "\f107";
}
.pbmit-bexco-gym-icon-scales:before {
	content: "\f108";
}
.pbmit-bexco-gym-icon-water-bottle:before {
	content: "\f109";
}
.pbmit-bexco-gym-icon-hand-grip:before {
	content: "\f10a";
}
.pbmit-bexco-gym-icon-boxing-glove:before {
	content: "\f10b";
}
.pbmit-bexco-gym-icon-whistle:before {
	content: "\f10c";
}
.pbmit-bexco-gym-icon-protein:before {
	content: "\f10d";
}
.pbmit-bexco-gym-icon-stopwatch:before {
	content: "\f10e";
}
.pbmit-bexco-gym-icon-smart-watch:before {
	content: "\f10f";
}
.pbmit-bexco-gym-icon-bycicle:before {
	content: "\f110";
}
.pbmit-bexco-gym-icon-swimming-pool:before {
	content: "\f111";
}
.pbmit-bexco-gym-icon-jumping-rope:before {
	content: "\f112";
}
.pbmit-bexco-gym-icon-healthy-food:before {
	content: "\f113";
}
.pbmit-bexco-gym-icon-yoga-mat:before {
	content: "\f114";
}
.pbmit-bexco-gym-icon-dumbbell-1:before {
	content: "\f115";
}
.pbmit-bexco-gym-icon-dumbbell-2:before {
	content: "\f116";
}
.pbmit-bexco-gym-icon-weightlifter:before {
	content: "\f117";
}
.pbmit-bexco-gym-icon-woman:before {
	content: "\f118";
}
.pbmit-bexco-gym-icon-weights:before {
	content: "\f119";
}
.pbmit-bexco-gym-icon-dumbbell-3:before {
	content: "\f11a";
}
.pbmit-bexco-gym-icon-gym-station:before {
	content: "\f11b";
}
.pbmit-bexco-gym-icon-stationary-bike:before {
	content: "\f11c";
}
.pbmit-bexco-gym-icon-exercises:before {
	content: "\f11d";
}
.pbmit-bexco-gym-icon-fitness:before {
	content: "\f11e";
}
.pbmit-bexco-gym-icon-exercise:before {
	content: "\f11f";
}
.pbmit-bexco-gym-icon-report:before {
	content: "\f120";
}
.pbmit-bexco-gym-icon-lifting:before {
	content: "\f121";
}
.pbmit-bexco-gym-icon-dumbbells:before {
	content: "\f122";
}
.pbmit-bexco-gym-icon-shower-head:before {
	content: "\f123";
}
.pbmit-bexco-gym-icon-play-button:before {
	content: "\f124";
}
.pbmit-bexco-gym-icon-component:before {
	content: "\f125";
}
.pbmit-bexco-gym-icon-right-arrow:before {
	content: "\f126";
}
.pbmit-bexco-gym-icon-up-right-arrow:before {
	content: "\f127";
}
.pbmit-bexco-gym-icon-placeholder:before {
	content: "\f128";
}
